
.hexagon--color-1 { background-color: #F16745; }
.hexagon--color-2 { background-color: #FFC65D; }
.hexagon--color-3 { background-color: #7BC8A4; }
.hexagon--color-4 { background-color: #4CC3D9; }
.hexagon--color-5 { background-color: #93648D; }
.hexagon--color-6 { background-color: #404040; }

.hexagon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: calc(32px*0.57735);
    height: 32px;
}
.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: inherit;
  opacity: inherit;
}
.hexagon {
  transform: rotateZ(90deg);
}
.hexagon::before {
  transform: rotateZ(60deg);
}

.hexagon::after {
  transform: rotateZ(-60deg);
}