
.hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width:56px;
  height:64px;
  opacity:0.8;
}

.hexagon[shade=c1] { background-color: #F16745; }
.hexagon[shade=c2] { background-color: #FFC65D; }
.hexagon[shade=c3] { background-color: #7BC8A4; }
.hexagon[shade=c4] { background-color: #4CC3D9; }
.hexagon[shade=c5] { background-color: #93648D; }
.hexagon[shade=c6] { background-color: #404040; }
.hexagon[shade=c7] { background-color: #FFFFFF; }

.hexagon[animate=d1]{
  position:relative;
  -webkit-animation: transition-d1 1s ease;
  -webkit-animation-fill-mode: forwards}
.hexagon[animate=d2]{
  position:relative;
  -webkit-animation: transition-d2 1s ease;
  -webkit-animation-fill-mode: forwards}
.hexagon[animate=d3]{
  position:relative;
  -webkit-animation: transition-d3 1s ease;
  -webkit-animation-fill-mode: forwards}
.hexagon[animate=d4]{
  position:relative;
  -webkit-animation: transition-d4 1s ease;
  -webkit-animation-fill-mode: forwards}
.hexagon[animate=d5]{
  position:relative;
  -webkit-animation: transition-d5 1s ease;
  -webkit-animation-fill-mode: forwards}
.hexagon[animate=d6]{
  position:relative;
  -webkit-animation: transition-d6 1s ease;
  -webkit-animation-fill-mode: forwards}
 
@-webkit-keyframes transition-d1 {
	0%   { -webkit-transform: translate(0px,0px);}
    100%  { -webkit-transform: translate(-72px,0px);}}
@-webkit-keyframes transition-d2 {
	0%   { -webkit-transform: translate(0px,0px);}
    100%  { -webkit-transform: translate(-36px,-62px);}}
@-webkit-keyframes transition-d3 {
	0%   { -webkit-transform: translate(0px,0px);}
    100%  { -webkit-transform: translate(36px,-62px);}}
@-webkit-keyframes transition-d4 {
	0%   { -webkit-transform: translate(0px,0px);}
    100%  { -webkit-transform: translate(72px,0px);}}
@-webkit-keyframes transition-d5 {
	0%   { -webkit-transform: translate(0px, 0px);}
    100%  { -webkit-transform: translate(36px, 62px);}}
@-webkit-keyframes transition-d6 {
	0%   { -webkit-transform: translate(0px, 0px);}
    100%  { -webkit-transform: translate(-36px, 62px);}}

.triangle {
  width:inherit;
  height:inherit;
}

.triangle[shade=c1] { background-color: #aa2c0d; }
.triangle[shade=c2] { background-color: #dd8f00; }
.triangle[shade=c3] { background-color: #3a8a64; }
.triangle[shade=c4] { background-color: #1d7889; }
.triangle[shade=c5] { background-color: #473044; }
.triangle[shade=c6] { background-color: #6a6a6a; }
.triangle[shade=c7] { background-color: #bfbfbf; }

.triangle[direction=d1] { -webkit-clip-path: polygon(100% 25%, 50% 50%, 100% 75%); }
.triangle[direction=d2] { -webkit-clip-path: polygon(50% 50%, 100% 75%, 50% 100%); }
.triangle[direction=d3] { -webkit-clip-path: polygon(50% 50%, 50% 100%, 0% 75%); }
.triangle[direction=d4] { -webkit-clip-path: polygon(50% 50%, 0% 75%, 0% 25%); }
.triangle[direction=d5] { -webkit-clip-path: polygon(50% 50%, 50% 0%, 0% 25%); }
.triangle[direction=d6] { -webkit-clip-path: polygon(50% 0%, 100% 25%, 50% 50%); }


.target {
	border-radius: 50%;
	width: 56px;
	height: 56px; 
	margin-top: 6px;
}

.target[shade=c1] { background:repeating-radial-gradient(#F16745, #F16745 5px, white 5px, white 10px); }
.target[shade=c2] { background:repeating-radial-gradient(#FFC65D, #FFC65D 5px, white 5px, white 10px); }
.target[shade=c3] { background:repeating-radial-gradient(#7BC8A4, #7BC8A4 5px, white 5px, white 10px); }
.target[shade=c4] { background:repeating-radial-gradient(#4CC3D9, #4CC3D9 5px, white 5px, white 10px); }
.target[shade=c5] { background:repeating-radial-gradient(#93648D, #93648D 5px, white 5px, white 10px); }
.target[shade=c6] { background:repeating-radial-gradient(#404040, #404040 5px, white 5px, white 10px); }


.fill {
	background: 
	radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
	radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -10px;
	background-size:15px 20px;
}

.fill[shade=c1]{ background-color: #F16745; }
.fill[shade=c2]{ background-color: #FFC65D; }
.fill[shade=c3]{ background-color: #7BC8A4; }
.fill[shade=c4]{ background-color: #4CC3D9; }
.fill[shade=c5]{ background-color: #93648D; }
.fill[shade=c6]{ background-color: #404040; }
